<div id="wrapper">
  <h1>Tech Subreddit Article Scraper</h1>
  <h2><i>This site scrapes information from articles on the Tech Subreddit, and allows users to add comments.</i></h2>
  <div id="articles">
	<ul>
	{{#each articles }}
	  <li>
  		<p class="article-title" data-id="{{this._id}}">{{this.title}}</p>
	  	<a href="{{this.link}}" target="blank">(Link here)</a>
	  </li>
	{{/each}}
	</ul>
  </div>

  <div id="notes"></div>
</div>
